In [1]:
import pandas as pd
import numpy as np

In [2]:
ha=pd.read_csv('c:/Users/STRIKER/Downloads/HeartAttack_data.csv',names=["age","sex","cp","trestbps","chol","fbs","restecg","thalach","exang","oldpeak","slope","ca","thal","target"],skiprows=[0])

In [3]:
ha.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,28,1,2,130,132,0,2,185,0,0.0,?,?,?,0
1,29,1,2,120,243,0,0,160,0,0.0,?,?,?,0
2,29,1,2,140,?,0,0,170,0,0.0,?,?,?,0
3,30,0,1,170,237,0,1,170,0,0.0,?,?,6,0
4,31,0,2,100,219,0,1,150,0,0.0,?,?,?,0

In [4]:
ha.shape

(294, 14)

In [5]:
ha.dtypes

age           int64
sex           int64
cp            int64
trestbps     object
chol         object
fbs          object
restecg      object
thalach      object
exang        object
oldpeak     float64
slope        object
ca           object
thal         object
target        int64
dtype: object

In [6]:
ha1=ha.replace('?',np.nan)
ha1.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,28,1,2,130,132,0,2,185,0,0.0,NaN,NaN,NaN,0
1,29,1,2,120,243,0,0,160,0,0.0,NaN,NaN,NaN,0
2,29,1,2,140,NaN,0,0,170,0,0.0,NaN,NaN,NaN,0
3,30,0,1,170,237,0,1,170,0,0.0,NaN,NaN,6,0
4,31,0,2,100,219,0,1,150,0,0.0,NaN,NaN,NaN,0

In [7]:
ha1.isnull().sum()

age           0
sex           0
cp            0
trestbps      1
chol         23
fbs           8
restecg       1
thalach       1
exang         1
oldpeak       0
slope       190
ca          291
thal        266
target        0
dtype: int64

In [8]:
ha1.drop(['thal','ca','slope'],axis=1,inplace=True)
ha1.head()

   age  sex  cp trestbps chol fbs restecg thalach exang  oldpeak  target
0   28    1   2      130  132   0       2     185     0      0.0       0
1   29    1   2      120  243   0       0     160     0      0.0       0
2   29    1   2      140  NaN   0       0     170     0      0.0       0
3   30    0   1      170  237   0       1     170     0      0.0       0
4   31    0   2      100  219   0       1     150     0      0.0       0

In [9]:
ha2=ha1.dropna(how='any',axis=0)
ha2.head()

   age  sex  cp trestbps chol fbs restecg thalach exang  oldpeak  target
0   28    1   2      130  132   0       2     185     0      0.0       0
1   29    1   2      120  243   0       0     160     0      0.0       0
3   30    0   1      170  237   0       1     170     0      0.0       0
4   31    0   2      100  219   0       1     150     0      0.0       0
5   32    0   2      105  198   0       0     165     0      0.0       0

In [10]:
ha2.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
target      0
dtype: int64

In [11]:
ha2.dtypes

age           int64
sex           int64
cp            int64
trestbps     object
chol         object
fbs          object
restecg      object
thalach      object
exang        object
oldpeak     float64
target        int64
dtype: object

In [12]:
ha2.trestbps=ha2.trestbps.apply(int)
ha2.chol=ha2.chol.apply(int)
ha2.fbs=ha2.fbs.apply(int)
ha2.restecg=ha2.restecg.apply(int)
ha2.thalach=ha2.thalach.apply(int)
ha2.exang=ha2.exang.apply(int)

D:\Program Files\ANACONDA\lib\site-packages\pandas\core\generic.py:5096: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [13]:
ha2.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
target        int64
dtype: object

In [14]:
print(ha1.shape)
ha2.shape

(294, 11)

(261, 11)

In [15]:
heart=ha2

# linear regression

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [17]:
X=heart.iloc[:,0:10]
X.head()

   age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak
0   28    1   2       130   132    0        2      185      0      0.0
1   29    1   2       120   243    0        0      160      0      0.0
3   30    0   1       170   237    0        1      170      0      0.0
4   31    0   2       100   219    0        1      150      0      0.0
5   32    0   2       105   198    0        0      165      0      0.0

In [18]:
Y=heart.iloc[:,10]
Y.head()

0    0
1    0
3    0
4    0
5    0
Name: target, dtype: int64

In [19]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=.20,random_state=20)

In [20]:
linear=LinearRegression()
linear.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [21]:
pred=linear.predict(x_test)

In [22]:
print(r2_score(pred,y_test))

0.02437763380563851

In [23]:

print(r2_score(linear.predict(x_train),y_train))

-0.008746792185949648

In [24]:
np.where(pred!=y_test)

(array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
        17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
        34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
        51, 52], dtype=int64),)

# polynomial regression

In [25]:
from sklearn.preprocessing import PolynomialFeatures

In [26]:
poly=PolynomialFeatures()
x_poly_train=poly.fit_transform(x_train)
x_poly_test=poly.transform(x_test)

In [27]:
linear.fit(x_poly_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [28]:
pred_poly=linear.predict(x_poly_test)

In [31]:
print(r2_score(linear.predict(x_poly_train),y_train))
print(r2_score(pred_poly,y_test))

0.5372392677368862
-0.18697136041073947

In [ ]:
np.unique(ha.target)

# knn

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
knn=KNeighborsClassifier(n_neighbors=5)

In [ ]:
knn.fit(x_train,y_train)

In [ ]:
pred_knn=knn.predict(x_test)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
accuracy_score(y_test,pred_knn)

In [ ]:
accuracy_score(knn.predict(x_train),y_train)

# #svm

In [ ]:
from sklearn.svm import SVC

In [ ]:
svc=SVC(kernel='linear',C=10)

In [ ]:
svc.fit(x_train,y_train)

In [ ]:
pred_svc=svc.predict(x_test)

In [ ]:
accuracy_score(pred_svc,y_test)

In [ ]:
accuracy_score(svc.predict(x_train),y_train)

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler=StandardScaler()

In [ ]:
x_train=scaler.fit_transform(x_train)

In [ ]:
svc.fit(x_train,y_train)

In [ ]:
pred=svc.predict(x_test)

In [ ]:
accuracy_score(pred,y_test)

In [ ]:
x_test=scaler.transform(x_test)